// :root{
//     --backgroundColor : rgb(102, 91, 91);
//     --border : #fff;
// }

// $backgroundColor: #009000;
// $text: rgb(207, 204, 204);

$backgroundColor: rgb(69, 69, 69);
$text: #fff;
$border: rgb(48, 47, 47);
$blackText: #000;
$child:whitesmoke;